.sbucard_container {
    box-shadow: 0px 6px 0px -6px rgba(0, 0, 0, 0.45),
        13px 13px 20px -16px rgba(0, 0, 0, 0.45),
        0px 25px 20px -20px rgba(0, 0, 0, 0.45),
        -25px 0px 20px -20px rgba(0, 0, 0, 0.45);
}

.capacity_contaier {
    height: 1.5rem;
    width: 1rem;
    border: 1px solid black;
    transform: rotate(180deg);
    padding: 1px;
    border-radius: 5px;
    /* border: 1px solid black; */
}

.capacity_half {
    background-color: orange;
    height: 50%;
    width: 100%;
    border-radius: 5px;

}

.capacity_low {
    background-color: rgb(28, 194, 28);
    height: 25%;
    width: 100%;
    border-radius: 5px;

}

.capacity_gt_50 {
    background-color: orange;
    height: 75%;
    width: 100%;
    border-radius: 5px;

}
.capacity_gt_75 {
    background-color: rgb(245, 44, 44);
    height: 90%;
    width: 100%;
    border-radius: 5px;

}

.capacity_empty {
    background-color: gray;
}

.capacity_full {
    background-color: red;
    height: 100%;
    width: 100%;
    border-radius: 5px;

}