.navbar_container{
    box-shadow: 0px 1px 3px gray;
    position: absolute;
    z-index: 99999;
    
}
#caard.closed {
    margin-left: -200px;
}

input:focus {
    outline: none;
}

.nav_btn{
    -webkit-transition: all .15s ease-in-out;
    transition: all .15s ease-in-out;
    color: #00d7c3;
}

.nav_btn:hover {
    /* box-shadow: 0 0 10px 0 #cddae8 inset, 0 0 20px 2px #cddae8; */
    background-color: #ebebed;
    border: 1px solid #cddae8;
}